/* Path: css\main.css */

/* Main theme colours */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #6c757d;
  --gray-dark-color: #343a40;
  --gray-light-color: #f8f9fa;
}

/* Text and general spacing */

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 1em;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

#eventsTable {
  margin-bottom:0;
}

.eventNames {
  display: flex;
  align-items: center;
}

#rechargeRate {
  font-weight: bold;
  font-size: large;
}

.batteryLevelDescriptor {
  font-weight: bold;
  font-size: large;
  text-align: center;
  margin-bottom: 0;
}

.batteryLevelComment {
  font-size: small;
  text-align: center;
  font-style: italic;
}

#activityEstimateRow {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
span.keyEstimationValue {
  font-weight: bold;
  font-size: large;
}
p.keyEstimationValue {
  margin-bottom: 0;
}
#nextDayStartPredictionComment {
  font-size: small;
  text-align: center;
  font-style: italic;
}
.last-th {
  display: flex;
  flex-direction: row-reverse;
}
.table-responsive
{
    overflow-x: auto;
}

/* Inputs */

img.range-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.join-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 11em;
}

.removeEventBtn {
  background: var(--danger-color);
  color: var(--white-color);
}


.input-group-select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sleepQualityDiv {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 2em;
}

#sleepQuality {
  margin-bottom: 0;
}

.titleIconLeftDiv {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.titleIconRightDiv {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}


#addEventBtn {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (max-width: 575px) {
  .eventValues {
    padding-left: 0;
  }
}

/* Images and icons */

img.titleIcon {
  width: auto;
  max-height:3em;
}

#liveAlertPlaceholder {
  width:100%;
}
.stay-ontop {
  z-index: 9999;
}

svg.bi {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

img.join-image {
  margin:auto;
  display: block;
  width: 120%;
  object-fit: cover;
}

#resistorImageRotated {
  width: 30%;
  margin-bottom: 1em;
}