/* Path: css\main.css */

/* Main theme colours */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #6c757d;
  --gray-dark-color: #343a40;
  --gray-light-color: #f8f9fa;
}

input[type="range"]::after {
  content: attr(data-value);
  background-image: attr(data-image);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: -50px;
  padding-left: 10px;

  height: 2em;
  line-height: 2em;
}

input[type="range"] {
  width: 80%;
  height: 2em;
  background: var(--gray-dark);
}

img.range-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.join-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

img.join-image {
  margin:auto;
  display: block;
  width: 120%;
  object-fit: cover;
}

.eventNumber {
  width: 3em !important;
}

.input-group-select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}